body, html
{
    width:100%;
    height: 100%;
    margin:0;
    padding:0;
}
body
{
    background-color: #fff;
    font-family: Verdana,Arial,sans-serif;
    color: #342828;
    font-size:100%;
    
        overflow:hidden;
    min-width:50em;

}
pre {
     white-space: pre-wrap;       /* css-3 */
     white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
     white-space: -pre-wrap;      /* Opera 4-6 */
     white-space: -o-pre-wrap;    /* Opera 7 */
     word-wrap: break-word;       /* Internet Explorer 5.5+ */
     margin: 0;
}

#loader
{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:10000;
    background: url(images/redback.png);
}
#loader > img
{
    position:absolute;
    display:inline-block;
    
    left: 50%;
    top: 50%;
    margin-left: -128px;
    margin-top: -16px;
}
#loader > div
{
    font-size: 1.4em;
    width: 100%;
    height: 128px;
    top: 50%;
    margin-top: 16px;
    text-align: center;
    position: absolute;
    color: #f3f3e9;
}
#RegexEditor
{
    
    margin-left: .5em;
    margin-right: .5em;
    overflow:hidden;
    position:relative;

}
#importFile
{
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

 #inputPanel  .panel, #rightPanel
{
    border:1px solid #ddf;
}
.panel, .dg-splitter
{
    z-index:7;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.dg-splitter
{
    background:#cdf url(images/greyback.png);
    padding:0;

    border: 1px solid #877;
    border-width: 1px 0px;
}
.dg-splitter:hover
{
    background: #d0cba0;

}
.dg-splitter.ui-draggable-dragging
{
    background: #f0f0a0;

}
.dg-splitter-h
{
    width:.4em;
    min-width:4px;
    cursor:col-resize;
}

.dg-splitter-v
{
    height:.7em;
    min-height:4px;
    cursor:row-resize;
}
.panelTitle
{
    background: #fff;
    padding-bottom: 2px;
    border-bottom: 1px solid #484080;
    margin-bottom: 2px;
    padding-top: 2px;
    overflow-x:hidden;
    display:block;
    width:100%;
}
.panelTitle .titleText
{
    color: #008;
    padding-left:1em;
    padding-right:1em;
    line-height:32px;
    text-transform:uppercase;
}
.window
{
    padding: 5px;
    overflow-x: auto;
    overflow-y: auto;
}
#inputPanel
{
    width:60%;
    min-width:15em;
}

#rightPanel
{
    min-width: 15em;
}

#patternPanel, #targetPanel
{
    min-width:28em;
}

#patternPanel, #replaceEditPanel
{
    height:40%;
    min-height: 10em;
}
#targetPanel, #replaceResultsPanel
{
     min-height: 10em;
}
#replaceEditPanel
{
    height:33%;
    min-height: 10em;
}
#replaceResultsPanel
{
    min-height: 10em;
}
#patternEditor, #targetEditor, #replaceEditor, #replaceResultsViewer
{
    height:150px;
    width:100%;
}
header
{
    background: #b5d3eb url(images/logo.png) no-repeat;

    padding-top:5px;
    height:50px;
    color:#002000;
    border-bottom: 2px solid #888;
   
}
header .logoMenu
{
    padding-top:16px;
    padding-left:200px;
    display:inline-block;
}

button, .button, .iconButton
{
    color: #484080;
    background-color:  #f3f3e9;
    background-repeat:no-repeat;
    background-position: 5px center;
    border: 1px solid #6f6f52;
    display: inline-block;
    cursor:pointer;
    margin: 0;
    padding: 0 6px 0 6px;
    line-height:28px;
    height: 28px;
    border-radius: 5px;
    margin-bottom:1px;
}
.iconButton
{
    padding: 0 6px 0 32px;
}
button:hover, button:active, .button:hover, .button:active, .iconButton:hover, .iconButton:active
{
    background-color:  #f6ee9a;
    color: #202040;
}
#helpButton
{
    background-image:url(images/icons/icon-help-24.png);
}
#regexOptionsButton
{
    background-image:url(images/icons/icon-settings-24.png);
}
#changeModuleButton
{
    background-image:url(images/icons/icon-widget-24.png);
}
#loadUrlButton
{
    background-image:url(images/icons/icon-inet-24.png);
}
#loadFileButton
{
    background-image:url(images/icons/icon-fileimport-24.png);
}
#saveSessionButton
{
    background-image:url(images/icons/icon-save-24.png);
}

.menu
{
    display:inline-block;
}
.menuItemsPanel
{
    position: absolute;
    z-index:9;
    margin: 0;
    padding:0;
    min-width:10em;
    background:  #f3f3e9;
    border: 1px solid #342828;
    font-size: .8em;
    list-style: none;
    
}
.menuItemsPanel li
{
    margin:0;
    padding:.2em .5em;
}
.menuItemsPanel li:hover
{
    background:  #e9e4c2;
    cursor:pointer;
}
.menuItemsPanel li.disabled
{
    color: #686060;
    font-style: italic;
}
.menuItemsPanel li.disabled:hover
{
    cursor:auto;
    background:none;
}
#moduleContainer
{
    position:relative;
    font-size:12px;
}
.moduleContent
{
    background: #686060;
    height:100%;
    color:#fff;
}
.moduleMenu
{
    background:  #f3f3e9;
    padding: 5px;
    color: #686060;
    border-bottom:1px solid #888;
}
.moduleMenu.tabs
{
    padding-bottom: 0px;
}
.moduleMenu .tab
{
    background: #c0d0f0;
    border: 1px solid #888;
    border-width: 1px 1px 0px 1px;
    border-top-left-radius: 2px 5px;
    border-top-right-radius: 2px 5px; 
    cursor: pointer;
    display: inline-block;
    padding: .1em 1em .1em 1em;
    margin-right: 2px;
}
.moduleMenu .tab:hover
{
    background: #f6ee9a;
}
.moduleMenu .tab.sel
{
    background: #fff;
    color: #484080;
 
}
.moduleMessage
{
    color:#fff8d0;
    font-size:.8em;
    border: 1px solid #8478c8;
    padding: .5em;
    margin:  .2em 0 0 0;
    line-height:1.25em;
    min-height:1.25em;
    background: #102000;
    white-space:pre;
    
}
.moduleMessage.errorMode
{
    color:#f04040;
    background: #402020;
}

input[disabled] + label 
{
    color:#908888;
}

/* CAPTURE GROUPS */
.selected-capture
{
    position: absolute;
    padding:1px;
    margin-left:-2px;
    margin-top:-2px;
    border: 2px dashed #0f0;

    background: transparent;
    background: rgba(63, 63, 63, 0.8); 
    z-index: 4;
}
.cgroup
{
    position: absolute;
    z-index:3;
    border:none;
}
.cgroup-20-40
{
    background: #929;
    border-bottom: 1px dashed #fff;
}
.cgroup-0
{
    background: #929;
}
.cgroup-1
{
    background: #62a;
}
.cgroup-2
{
    background: #22c;
}
.cgroup-3
{
    background: #26b;
}
.cgroup-4
{
    background: #2aa;
}
.cgroup-5
{
    background: #3a3;
}
.cgroup-6
{
    background: #992;
}
.cgroup-7
{
    background: #a62;
}
.cgroup-8
{
    background: #a21;
}
.cgroup-9
{
    background: #a16;
}
.cgroup-10
{
    background: #404;
}
.cgroup-11
{
    background: #204;
}
.cgroup-12
{
    background: #004;
}
.cgroup-13
{
    background: #024;
}
.cgroup-14
{
    background: #044;
}
.cgroup-15
{
    background: #040;
}
.cgroup-16
{
    background: #440;
}
.cgroup-17
{
    background: #420;
}
.cgroup-18
{
    background: #400;
}
.cgroup-19
{
    background: #402;
}
/* For Styling Editors */
.Literal
{
    color:#f8f8f8;
}
.Groups, .ace_Groups
{
    color:#00ff00;
}
.Groups-1, .ace_Groups-1
{
    color:#c0ff40;
    font-style:italic;
}
.Conditionals, .ace_Conditionals
{
    color:#88f;
}
.Quantifiers, .ace_Quantifiers
{
    color:#ff00ff;
}
.Quantifiers-1, .ace_Quantifiers-1
{
    color:#ff80ff;
}
.Bad_Characters, .ace_Bad_Characters
{
    color:red;
}
.Boundaries, .ace_Boundaries,
.Line_Anchors, .ace_Line_Anchors
{
    color:#0ff;
}
.Escaped_Classes, .ace_Escaped_Classes,
.Set_Classes, .ace_Set_Classes,
.Classes, .ace_Classes
{
    color:#ff0;
}
.Sets, .ace_Sets
{
    color:#ec0;
}
.Classes-1, .ace_Classes-1, 
.Classes-2, .ace_Classes-2,
.Set_Classes-1, .ace_Set_Classes-1, 
.Set_Classes-2, .ace_Set_Classes-2
{
    color:#fc0;
    font-style:italic;
}
.Special_Characters, .ace_Special_Characters,
.Reserved, .ace_Reserved
.Escaped_Reserved, .ace_Escaped_Reserved
{
    color:#f80;
}
.Special_Characters-1, .ace_Special_Characters-1
{
    color:#3df;
    font-style:italic;
}
.Back_References, .ace_Back_References
{
    color:#e0acdc;

}
.Back_References-1, .ace_Back_References-1
{
    color:#e4a8d9;
    font-style:italic;
}
.Comments, .ace_Comments
{
    color:#c0c0c0;
}
.Comments-1, .ace_Comments-1
{
    color:#d0d0f0;
    font-style:italic;
}

.dg-selectdialog-width
{

    width:30em;
}
.dg-selectdialog input
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width:100%;
}
.dg-selectdialog-list
{
    padding: 0;
    background: #f5f3f1;
    height:15em;
    overflow-y:auto;
}
.dg-selectdialog-list li
{
    display: block;
    list-style:none;
    background: #f4f6e1;
    padding: .1em .5em;
    border: 1px #f2e9e4 solid;
    cursor:pointer;
}
.dg-selectdialog-list li:hover
{
    background:#ffe270;
}





#modStringSplit, #modCurrentSyntax
{
    overflow-y:auto;
    overflow-x:auto;

    font-size:12px;
}
#modCurrentSyntax .affedtedByOptions
{
    color: #f0f0c0;
}
#modCurrentSyntax .index
{
    font-family: 'Monaco','Menlo','Ubuntu Mono','Consolas','source-code-pro',monospace;
}
#modRegexHistory .dg-tree > li
{
    border-bottom: 1px solid #504040;
}

#modRegexHistory .dg-tree > li:nth-child(2n+1)
{
    background: #706060;
}
#modRegexHistory .dg-tree > li:hover
{
    background:#333;
}
#modRegexHistory .history-cut
{
    opacity: 0.5;
	-webkit-opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
}

/* match visualizer */
#modMatchViz .captureInfo
{
    display: table-cell;
    border: 1px solid #888;
    margin: 0;
    padding: 0px .5em;
}
#modMatchViz .capturedText
{
    display: table-cell;
    padding-left: .5em;
}
#modMatchViz .dg-tree-handle
{
 
    padding: 2px 0px;
}

#modMatchViz li
{
    background: #686060;
    border: 0px solid #605858;
    border-top-width:1px;
    /*border-left-width: 1px;
    border-top-width: 1px;*/
}

#modMatchViz li  li
{
    background: #605860;

}

#modMatchViz li li li
{
    background: #585060;
}
#modMatchViz li li li li
{
    background: #504860;
}
#modMatchViz li li li li li
{
    background: #484060;
}
.moduleTable
{
    width:100%;
    border:0;
    border-collapse:collapse;
}
    .moduleTable td
    {
        vertical-align: top;
        padding: .2em .5em;
    }
    .moduleTable .heading
    {
        font-weight:bold;
        font-size:1.2em;
        border-bottom: 1px solid black;
        background:#888;
    }

    .moduleTable .heading td
    {
        padding-top: 1em;
    }
    .moduleTable .subHeading
    {
        font-weight:bold;
    }

    .moduleTable .index
    {
        color: #c0d0f0;
        width:1px;
        white-space: nowrap;
    }



.dg-tree
{
    margin:0;
    padding:0;
    font-family: 'Monaco','Menlo','Ubuntu Mono','Consolas','source-code-pro',monospace;
}
.dg-tree ul
{
    padding-left:18px;
}
.dg-tree li
{
    line-height:20px;
    list-style: none;
    display: block;
}
.dg-tree .dg-tree-list
{

}
.dg-tree .dg-tree-handle
{
    float: left;
    min-width: 18px;
    min-height: 16px;
    line-height: 100%;
    cursor:pointer;
    background-position: 0px center;
    background-repeat: no-repeat;
}
.dg-tree .dg-tree-collapsed > .dg-tree-handle
{
    background-image: url(images/icons/icon-plus-16.png);
}
.dg-tree .dg-tree-expanded > .dg-tree-handle
{
    background-image: url(images/icons/icon-minus-16.png);
}
.dg-tree .dg-tree-label
{
    cursor:pointer;
    display: block;
    padding-left:18px;
}

.dg-docs
{
    height: 80%;
    width: 80%;
}
.dg-docs-root
{
    width: 80%;
    height: 80%;
}
.dg-docs-nav
{
    float:left;
    background:#f8f8f8;
    border:#999 1px solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 30%;
    height:100%;
}
.dg-docs-content
{
    float:right;
    background:#ffd;
    border:#999 1px solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 70%;
    padding: 1em;
    height:100%;
    position:relative;
    overflow-y:auto;
}
.dg-docs-content a
{
    color:#000080;
}
.dg-docs-content h1
{
    margin-top:0;
    font-size:2em;
    color: #484080;
    border-bottom: 1px solid #484080;
}
.dg-docs-content h2
{
    color: #3c3060;
    font-size:1.3em;
    margin: 1.3em 0em 0em 0em;
}
.dg-docs-content h3
{
    color: #3c3060;
    font-size:1.0em;
    padding-left: .5em;
}
.dg-docs-content p
{
     padding-left:.5em;
}
.dg-docs-content ul
{
    padding-left:2em;
}
.dg-docs-content code
{
     white-space:pre;
     display: block;
    margin-left:3em;
       
}
.dg-docs-external-link
{
    background-image: url(images/icons/external-link-icon.gif);
    background-repeat:no-repeat;
    background-position: right center;
    padding-right: 14px;
    
}
.dg-docs .dg-tree-empty > .dg-tree-handle
{
    background-image: url(images/icons/icon-doc-12.png);
    background-position: 2px 4px;
    width: 14px;
}
.dg-docs .seeAlso
{
    display:block;
    padding-top:1em;
    font-weight:bold;
}
.dg-docs table td
{
    vertical-align:top;
        padding: .5em 0;
}
.dg-docs .definitions
{
    background:#ffe;
    padding:.5em;
    border:1px solid #ffc;
}
.dg-docs .definitions tr:nth-child(2n+1)
{
    background:#fffff8;
}
.dg-docs .definitions tr > td:first-child
{
    font-weight:bold;
    padding-right:1em;
}